/*//进入场次页*/

img {
	display: block;
	width: 100%;
	height: 100%;
	/*border-radius:inherit;*/
}

html {
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

input {
	display: block;
}

.page {
	width: 100%;
	height: 100%;
	position: absolute;
	/*display: none;*/
}

.page .content {
	width: 100%;
	height: 100%;
}

.page .content .content-bg,
#page0 .content .content-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#page2 .pagetwoContent3 {
	position: absolute;
	top: 0;
	/*display: none;*/
}


/*.......第一页....*/

#page1 {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	/*background: url(../images/choose/);*/
}

#page1 .content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	margin: auto;
}

.pageone .pageoneSelect {
	width: 66%;
	position: absolute;
	top: 42%;
	left: 0;
	right: 0;
	margin: auto;
}

.pageone .pageoneSelect .showContent {
	width: 100%;
	font-size: .9rem;
	background-color: #F4F0E1;
	display: none;
	border-radius: 0.3rem;
	position: absolute;
	height: 145px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	
}

.pageone .pageoneSelect .showContent::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0);
	border-left: 1px solid rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
}

.pageone .pageoneSelect .showContent::-webkit-scrollbar {
	width: 5px;
	height: 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-overflow-scrolling: touch;
}

.pageone .pageoneSelect .showContent::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height: 28px;
	-webkit-overflow-scrolling: touch;
}

.pageone .pageoneSelect .showContent::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-overflow-scrolling: touch;
}

.pageone .pageoneSelect .selectBg {
	background-color: #ECE4CB;
}

.pageone .showSelect p {
	width: 100%;
	text-indent: 6%;
	line-height: 1.8rem;
	color: #A48A34;
	font-size: .8rem;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.pageone .showSelect {
	background: url(../images/choose/changci.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.pageone .pageoneSelect .showContent p {
	text-indent: 5%;
	width: 100%;
	color: #BDA145;
	line-height: 1.8rem;
	border-bottom: .1rem solid #E7DDBD;
	font-size: .7rem;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.pageone .showContent2 {
	width: 100%;
	margin-top: 10%;
	/*position: absolute;
	top: 220%;*/
}


/*.pageone .showContent2{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
}*/

.pageone .showContent2 input {
	width: 100%;
	border: none;
	outline: none;
	line-height: 1.8rem;
	font-size: .7rem;
	text-indent: 5%;
	color: #BDA145;
	background: url(../images/choose/changci2.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.pageone .showContent2 input::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #BDA145;
}

.pageone .showContent2 input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #BDA145;
	opacity: 1;
}

.pageone .showContent2 input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #BDA145;
	opacity: 1;
}

.pageone .showContent2 input:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #BDA145;
}

.submitBtm {
	position: absolute;
	width: 26%;
	bottom: 4%;
	left: 0;
	right: 0;
	margin: auto;
}


/*//第一页弹框*/

.myPopupDialog {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	/*display: none;*/
}

.myPopupDialog1 {
	display: none;
}

.myPopupDialog2 {
	display: none;
}

.myPopupDialog .popupBg {
	width: 64%;
	height: 52%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: url(../images/select/circle2.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	color: white;
	/*font-family:'方正兰亭刊黑';*/
	padding: 8%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.myPopupDialog .popupBg2 {
	padding: 20% 10%;
}

.myPopupDialog .popupBg2 p {
	text-align: center;
	/*margin-left: 0rem;*/
}

.myPopupDialog .popupBg2 p {
	line-height: 1.6rem;
}

.myPopupDialog .popupBg h1 {
	font-size: 2.0rem;
	margin-bottom: 10%;
}

.myPopupDialog .popupBg1 p {
	line-height: 1.6rem;
	margin-left: .5rem;
}

.myPopupDialog .popupBg2 p {}

.myPopupDialog .popupBg2 .resetBg {
	width: 80%;
	margin: 24% auto;
	height: 30%;
}

.myPopupDialog .popupBg form input {
	background-color: transparent;
	width: 100%;
	border: none;
	outline: none;
	font-size: 1.2rem;
	text-align: center;
	color: white;
	line-height: 1.8rem;
}

.myPopupDialog .popupBg form .place input {
	font-size: 1.2rem;
}

.myPopupDialog .popupBg form .placeNum {
	width: 100%;
	/*margin-top: .5rem;*/
}

.myPopupDialog .popupBg form p {
	width: 100%;
	text-align: center;
	margin-top: 10%;
	font-size: 1.2rem;
	margin-left: .5rem;
}

.myPopupDialog .popupBg form button {
	width: 66%;
	height: 20%;
	/*height: 1.6rem;*/
	/*line-height: 1.6rem;*/
	background-color: transparent;
	border: none;
	outline: none;
	margin-right: 2rem;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	bottom: 6%;
}

.myPopupDialog .popupBg .submit {
	background: none;
	width: 100%;
	height: 30%;
	margin: 1.4rem auto 0;
	width: 6rem;
	/*border: 1px solid white;*/
	border-radius: 2rem;
	font-size: .8rem;
}

.myPopupDialog .popupBg .cancelPhoto {
	position: absolute;
	width: 16%;
	right: -6%;
	top: -5%;
}


/*第二页*/

#page2 {
	width: 100%;
	height: 100%;
	/*display: none;*/
}

#page2 .pagetwoContent1-waitMinu {
	position: absolute;
	width: 80%;
	left: 10%;
	text-align: center;
	top: 65%;
}

#page2 .pagetwoContent1-waitMinu p {
	line-height: 2rem;
}

#page2 .pagetwoContent1-waitMinu p:nth-child(1) {
	color: #A38B5A;
	font-size: 1rem;
}

#page2 .pagetwoContent1-waitMinu p:nth-child(2) {
	color: #9A7730;
	font-size: 1.2rem;
	font-weight: bold;
}

#page2 .pagetwoContent1,
#page2 .pagetwoContent2,
#page2 .pagetwoContent3 {
	width: 100%;
	height: 100%;
}


/*...第二页排队页....*/

#page2 .pagetwoContent1 {
	/*display: none;*/
	position: absolute;
	top: 0;
}

#page2 .pagetwoContent1 .pagetwoContent1-bg,
#page2 .pagetwoContent2 .pagetwoContent2-bg,
#page2 .pagetwoContent3 .pagetwoContent3-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#page2 .pagetwoContent1 .pagetwoContent1-waitBg {
	position: absolute;
	width: 100%;
}

#page2 .pagetwoContent3 .gameVideo {
	width: 70%;
	height: 34%;
	position: relative;
	z-index: 10;
	left: 10%;
	top: 44%;
	
}

#page2 .pagetwoContent3 .gamePic {
	width: 100%;
	height: 100%;
	/*position: absolute;*/
	z-index: 5;
	border: 1.2rem solid transparent;
	z-index: 5;
}

#page2 .pagetwoContent3 .gameVideo video,
#page2 .pagetwoContent3 .gamePic {
	width: 100%;
	height: 100%;
	/*video-height:100%;*/
	border-radius: 5%;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	font-size: 0;
	/*background-color: white;*/
}

#page2 .pagetwoContent3 .gameVideo video {
	border: 1.2rem solid #EFE3B1;
	-o-object-fit: fit;
	object-fit: fit;
	-webkit-border-image: url("../images/rule/rulekuang.png") 27;
	-moz-border-image: url("../images/rule/rulekuang.png") 27;
	-ms-border-image: url("../images/rule/rulekuang.png") 27;
	-o-border-image: url("../images/rule/rulekuang.png") 27;
	border-image: url("../images/rule/rulekuang.png") 27;
}


/*......第二页 游戏等待中....*/

#page2 .pagetwoContent2 {
	position: absolute;
	top: 0;
	/*display: none;*/
}

#page2 .pagetwoContent2 .pagetwoContent2-id {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 46%;
}

#page2 .pagetwoContent2 .pagetwoContent2-idNum {
	position: absolute;
	top: 52.9%;
	width: 100%;
	height: 15%;
}

#page2 .pagetwoContent2 .pagetwoContent2-idNum .idNum1 {
	width: 20%;
	height: 100%;
	position: absolute;
}

#page2 .pagetwoContent2 .pagetwoContent2-idNum .idNum2 {
	left: 18%;
}

#page2 .pagetwoContent2 .pagetwoContent2-idNum .idNum3 {
	left: 40%;
}

#page2 .pagetwoContent2 .pagetwoContent2-idNum .idNum4 {
	left: 62%;
}

#page2 .pagetwoContent2 .pagetwoContent2-idContent {
	position: absolute;
	top: 72%;
	width: 100%;
	text-align: center;
}

#page2 .pagetwoContent1-arrow {
	position: absolute;
	width: 10%;
	top: 92%;
	left: 0;
	right: 0;
	margin: auto;
}

#page2 .pagetwoContent2 .pagetwoContent2-idContent p,
#page2 .pagetwoContent2 .pagetwoContent2-id p {
	color: #926F21;
	line-height: 1.6rem;
}


/*....第三页...*/

#page3 {
	/*display: none;*/
}

#page3 .countDown {
	position: absolute;
	top: 56%;
	width: 100%;
	height: 14%;
}

#page3 .countDown div {
	width: 17.4%;
	height: 100%;
	position: absolute;
}

#page3 .countDown .countDown1 {
	left: 22%;
}

#page3 .countDown .countDown2 {
	left: 42%;
}

#page3 .countDown .countDownPic {
	height: 30%;
	left: 60%;
}

#page3 .reQueue {
	position: absolute;
	top: 75%;
	width: 57.04%;
	left: 0;
	right: 0;
	margin: auto;
}


/*超时页*/

#page33 {
	display: none;
}

#page33 .content-funnel {
	position: absolute;
	width: 33%;
	left: 0;
	right: 0;
	margin: auto;
	top: 25.4%;
	animation: funnel 10s linear infinite;
}

@keyframes funnel {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes funnel {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#page33 .content-queueBtm {
	width: 22%;
	position: absolute;
	top: 71.4%;
	left: 0;
	right: 0;
	margin: auto;
}


/*....第四页 加油....*/

#page4 {
	display: none;
}


/*....第五页 结果....*/

#page5 {
	/*display: none;*/
}

#page5 .content .content-loading {
	position: absolute;
	width: 60%;
	height: 40%;
	top: 48%;
	left: 0;
	right: 0;
	margin: auto;
}

#page5 .content .content-loading1 {
	position: absolute;
	width: 60%;
	height: 60%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	-webkit-animation: loading 20s linear infinite;
	-moz-animation: loading 20s linear infiniteout;
	-o-animation: loading 20s linear infiniteout;
	animation: loading 20s linear infiniteout;
}

@-webkit-keyframes loading {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loading {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#page5 .content .content-loading2 {
	width: 30%;
	height: 20%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}


/*#page5 .content .content-loading img{
	position: absolute;
}*/

#page5 .content .content-total {
	position: absolute;
	text-align: center;
	width: 30%;
	top: 46%;
	left: 37%;
}

#page5 .content .content-total p {
	font-size: 1.8rem;
	color: #B29459;
}

#page5 .content .content-totalMinutes {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 84%;
}

#page5 .content .content-totalMinutes p {
	font-size: 1.6rem;
	color: #9E7B37;
}


/*...第六页...*/

#page6 {
	/*display: none;*/
}

#page6 .photo {
	position: absolute;
	width: 100%;
	height: 79%;
	top: 40%;
	left: 0;
	right: 0;
	margin: auto;
}

#page6 .photo .photo-bg {
	width: 100%;
	position: absolute;
	z-index: 10;
}

#page6 .photo .photo-pic {
	width: 32%;
	height: 25%;
	position: absolute;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
	top: 9%;
}


/*#page6 .photo .photo-pic img {
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	border-radius: inherit;

}*/

#page6 .an {
	position: absolute;
	z-index: 10;
	top: 79%;
	text-align: center;
	width: 100%;
	color: #926F21;
	font-size: .9rem;
}

#page6 .photo-btm {
	width: 45.4%;
	position: absolute;
	top: 81%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 100;
}


/*第七页*/


/*#page7{
	display: none;
}
#page7 .content .content-btm{
	position: absolute;
	width: 22%;
	top: 77.3%;
	left: 0;
	right: 0;
	margin: auto;
}*/


/*...第8页...*/

#page8 {
	/*display: none;*/
}

#page8 .content-btm {
	position: absolute;
	width: 45.5%;
	top: 81.1%;
	left: 0;
	right: 0;
	margin: auto;
}


/*...第9页...*/

#page9 {
	display: none;
}

#page9 .content-btm {
	position: absolute;
	width: 22%;
	top: 77.3%;
	left: 0;
	right: 0;
	margin: auto;
}


/*...第10页...*/

#page10 {
	/*display: none;*/
}

#page10 .photo {
	position: absolute;
	width: 100%;
	height: 79%;
	top: 42%;
	left: 0;
	right: 0;
	margin: auto;
}

#page10 .photo .photo-bg {
	width: 100%;
	position: absolute;
	z-index: 10;
}

#page10 .photo .photo-pic {
	background-color: white;
	width: 30%;
	height: 22%;
	position: absolute;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	left: 0;
	right: 0;
	margin: auto;
	/*z-index:-1;*/
	top: 9%;
	overflow: hidden;
}

#page10 .photo .photo-pic img {
	width: 100%;
	height: 100%;
	/*border:1px solid black;*/
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	border-radius: inherit;
}

#page10 .photo-btm {
	width: 45.4%;
	position: absolute;
	top: 81%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 100;
}


/*第11页*/

#page11 {
	display: none;
}

#page11 .content .content-btm {
	position: absolute;
	width: 26%;
	top: 73%;
	left: 0;
	right: 0;
	margin: auto;
}

#page11 .content .popup {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}


/*..第12页...*/

#page12 {
	display: none;
}

#page12 .content .content-btm {
	position: absolute;
	width: 22%;
	top: 75%;
	left: 0;
	right: 0;
	margin: auto;
}


/*#page12 .content .popup {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}*/


/*...第13页...*/

#page13 {
	/*display: none;*/
}

#page13 .content-btm {
	position: absolute;
	width: 50%;
	top: 78%;
	left: 0;
	right: 0;
	margin: auto;
}


/*...第14页...*/

#page14 {
	display: none;
}

#page14 .content-btm {
	position: absolute;
	width: 22%;
	top: 76%;
	left: 0;
	right: 0;
	margin: auto;
}

#page14 .content .popup {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}


/*..第15页...*/

#page15 {
	/*display: none;*/
}

#page15 .content .content-btm {
	position: absolute;
	width: 22%;
	top: 76%;
	left: 0;
	right: 0;
	margin: auto;
}

#page15 .content .popup {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}


/*...第16页...*/

#page16 {
	/*display: none;*/
}

#page16 .photo {
	position: absolute;
	width: 100%;
	height: 70%;
	left: 0;
	right: 0;
	top: 0%;
	bottom: 0;
	margin: auto;
}

#page16 .photo .photo-bg {
	position: absolute;
	z-index: 10;
	width: 100%;
}

#page16 .photo .photo-pic {
	width: 21%;
	height: 20%;
	background-color: white;
	left: 39%;
	/*right: 0%;*/
	top: 8%;
	-webkit-border-radius: 50% 50%;
	-moz-border-radius: 50% 50%;
	border-radius: 50% 50%;
	overflow: hidden;
	/*margin: auto;*/
	position: absolute;
	/*z-index: -1;*/
}

#page16 .photo .photo-pic img {
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	border-radius: inherit;
}

#page16 .share-erweima {
	position: absolute;
	top: 61%;
	width: 25%;
	left: 22%;
}

#page16 .shareContent {
	position: absolute;
	width: 100%;
	top: 40%;
	text-align: center;
}

#page16 .shareContent .pla {
	width: 7%;
	/*height: 1%;*/
	margin-top: 2%;
	display: inline-block;
	/*position: absolute;*/
	/*left: 15%;
	top: -26%;*/
}

#page16 .shareContent .pla img {
	margin-left: 30%;
	/*padding-top: 20%;*/
}

#page16 .shareContent p {
	font-size: .6rem;
	line-height: 1.3rem;
	color: #7C5E1C;
	text-shadow: 0rem 0rem 0.3rem #FCF7E2;
	/*font-weight: bold;*/
}

#page16 .share {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 55%;
	width: 67%;
}

#page16 .share .share-bg {
	width: 60%;
	left: 5%;
	position: absolute;
}

#page16 .share .share-erweima {
	width: 30%;
	position: absolute;
	left: 64%;
	margin-bottom: 5%;
	transform: scale(1.2);
}

#page17 .shareContent .pla {
	width: 7%;
	/*height: 1%;*/
	margin-top: 2%;
	display: inline-block;
}

#page17 .shareContent .pla img {
	margin-left: 30%;
}


/*...第17页...*/

#page17 {
	display: none;
}

#page17 .share {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 56%;
	width: 67%;
}

#page17 .share .share-bg {
	width: 60%;
	left: 5%;
	position: absolute;
}

#page17 .share .share-erweima {
	width: 30%;
	position: absolute;
	left: 64%;
	margin-bottom: 5%;
	transform: scale(1.2);
}

#page17 .shareContent {
	position: absolute;
	width: 100%;
	top: 39%;
	text-align: center;
}

#page17 .shareContent p {
	font-size: .6rem;
	line-height: 1.2rem;
	/*font-weight: bold;*/
	color: #7C5E1C;
	text-shadow: 0rem 0rem 0.3rem #FCF7E2;
}


/*..第15页...*/

#page18 {
	display: none;
}

#page18 .content .content-btm {
	position: absolute;
	width: 22%;
	top: 77%;
	left: 0;
	right: 0;
	margin: auto;
}

#page18 .content .popup {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}


/*..第19页...*/

#page19 {
	display: none;
}

#page19 .content .content-btm {
	position: absolute;
	width: 22%;
	top: 77%;
	left: 0;
	right: 0;
	margin: auto;
}

#page19 .content .popup {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}




#page1 .showSec{
	height: 40px;
	overflow: hidden;
}
#page1 select{
	width: 100%;
	height: 20%;
	-webkit-appearance: listbox;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	background: #F3EDDE;
	outline: none;
	border: none;
	color: #BDA145;
	border-radius: 3px;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
#page1 select option{
	border: none;
	height: 30px;
	line-height: 30px;
	border-bottom: 10rem solid black;
}
